openapi: '3.0.3'
info:
  title: Music Social Media API
  description: Rest API for a social media platform with ML-based Content/Collaborative/Hybrid User Specific Recommendations
  version: '1.0'

servers:
  - url: https://mt241063-10974.node.ustp.cloud
    description: Deployment
  - url: http://localhost:3000/
    description: Local Testing
paths:
  /auth/register:
    post:
      summary: Register a new User
      tags: [Auth]
      requestBody: 
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, password, email]
              properties:
                email:
                  type: string
                  example: "user@example.at"
                username:
                  type: string
                  example: "Mike"
                password:
                  type: string
                  example: "qwe123"
      responses:

        "201":
          description: "User was created successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/registration_response"
        "400":
          description: "Invalid input"

components:
  schemas:
    access_token:
      type: object
      properties:
        token:
          type: string
          description: "JWT Access Token"

    user:
      type: object
      properties:
        username:
          type: string

    registration_response:
      type: object
      properties: 
        token:
          $ref: "#/components/schemas/access_token"
        user:
          $ref: "#/components/schemas/user"
